{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="flex gap-4 flex-col items-center mt-16">
    <form method="post">
    <h1 class="text-5xl font-bold mb-6">Pay Now</h1>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
          <div role="alert" class="alert alert-error alert-soft w-full mt-4">
              <li><span class="">{{ message }}</span></li>
          </div>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <div class="card w-lg mt-8 mb-4 bg-secondary text-secondary-content">
        <div class="card-body">
            <h2 class="card-title">Shipping Information</h2>
            <fieldset class="fieldset">
                <label>Street address</label>
                <input class="input w-full" name="street_address" type="street_address">

                <label>Apt/Suite # (optional)</label>
                <input class="input w-full" name="apt" type="apt">

                <label>Zip-code</label>
                <input class="input w-full" name="zip_code" type="zip_code">

            </fieldset>
    </div>
    <div class="card w-lg mt-8 bg-secondary text-secondary-content">
        <div class="card-body">
            <h2 class="card-title">Payment Information</h2>
            <fieldset class="fieldset">
                <label>Card number</label>
                <input class="input w-full" name="card" type="card">

                <label>Expiration date</label>
                <input class="input w-full" name="expiration" type="expiration">

                <label>CVV</label>
                <input class="input w-full" name="cvv" type="cvv">
            </fieldset>
    </div>

    </form>
</div>
<div class="w-full max-w-lg flex justify-end mt-6">
    <button class="btn btn-primary" type="submit">Confirm order</button>
</div>

{% endblock %}