{% extends "base.html" %}

{% block content %}
<div class="flex">
    <div class="stats shadow">
        <div class="stat">
            <div class="stat-figure text-primary text-5xl">
                <i class="fa-solid fa-arrow-up-right-dots"></i>
            </div>
            <div class="stat-title">Total Sales</div>
            <div class="stat-value text-primary">$300,000,000</div>
            <div class="stat-desc">Last 30 days</div>
        </div>
        <div class="stat">
            <div class="stat-figure text-primary text-5xl">
                <i class="fa-solid fa-box"></i>
            </div>
            <div class="stat-title">Total Orders</div>
            <div class="stat-value text-primary">23</div>
            <div class="stat-desc">Last 30 days</div>
        </div>
        <div class="stat">
            <div class="stat-figure text-primary text-5xl">
                <i class="fa-solid fa-circle-user"></i>
            </div>
            <div class="stat-title">Total Customers</div>
            <div class="stat-value text-primary">4</div>
            <div class="stat-desc">Last 30 days</div>
        </div>
        <div class="stat">
            <div class="stat-figure text-primary text-5xl">
                <i class="fa-solid fa-arrow-up-right-dots"></i>
            </div>
            <div class="stat-title">Total Sales</div>
            <div class="stat-value text-primary">$300,000,000</div>
            <div class="stat-desc">Last 30 days</div>
        </div>
    </div>

</div>
{% endblock %}
