{% extends "base.html" %}

{% block content %}
<div class="flex">
    <div class="card card-border shadow-sm w-full flex-1">
        <div class="card-body h-full">
            <h2 class="card-title">Recent Sales</h2>
            <div class="overflow-x-auto flex-1">
                <table class="table table-zebra w-full h-full">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Cart Id</th>
                            <th>Date Bought</th>
                            <th>Amount Paid</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cart in recent_sales %}
                        <tr>
                            <th>{{ loop.index }}</th>
                            <th>{{ cart.id }}</th>
                            <th>{{ cart.date_checked_out }}</th>
                            <th>{{ "{:,}".format( cart.total_cost / 100.0) }}</th>
                        </tr>
                        {% endfor %}
                    <tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
