<dialog id="_{{name}}" class="modal">
    <div class="modal-box max-w-full max-h-full card card-side bg-base-100 card-border shadow-sm p-0">
        <figure class="w-full h-full">
            <img src="{{ url_for('static', filename=prod.picture_path) }}" class="object-cover" alt="{{ product.name }}"/>
        </figure>
        <form method="dialog">
            <button class="btn btn-ghost btn-circle btn-sm absolute top-2 right-2">x</button>
        </form>
        <div class="card-body flex flex-col justify-between">
            <h2 class="card-title text-2xl">{{ prod.name }}</h2>
            <div class=" w-100 text-wrap">
                <p>{{ prod.description }}</p>
            </div>
            <div class="card-actions justify-between items-center">
                <h4 class="card-title">${{ "{:,}".format(prod.cost / 100.0) }}0</h4>
                <form action="/cart/add/{{ prod.id }}" method="POST">
                    <button type="submit" class="btn btn-primary">Add to cart</button>
                </form>
            </div>
        </div>
    </div>
    
</dialog>
