{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul>
    {% for message in messages %}
      <li style="color: red;">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<div class="card bg-base-100 w-lg shadow-sm mt-4">
    <div class="card-body">
        <h2 class="card-title">Login</h2>
        <form method="post">
        <fieldset class="fieldset">
            <label>Email</label>
            <input class="input w-full validator" name="email" type="email" required placeholder="johndoe@example.com">
            <p class="validator-hint hidden">Enter vaild email address</p>
                

            <label>Password</label>
            <input class="input w-full validator" name="password" type="password" required placeholder="password"
                                                                  minlength="6"
                                                                  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                                                  title="Must be atleast 6 characters, including number, lowercase letter, uppercase letter"/>
            <p class="validator-hint hidden">
                Must be more than 6 characters, including
                <br/>At least one number
                <br/>At least one lowercase letter
                <br/>At least one uppercase letter
            </p>

            <button class="btn btn-primary" type="submit">Log In</button>
            </form>
        </fieldset>
        <div class="text-center">
            <p>
                Don’t have an account?
                <a class="link link-primary" href="{{ url_for('auth.register') }}">Register</a>
            </p>
        </div>
</div>
{% endblock %}
